body {
  font-family: $font-base, sans-serif;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

nav > ul > li {
    display: inline;
    padding: 0 30px;
    :hover{
      opacity: 80%;
    }
}

li > a {
   text-decoration: none;
   color: black;
   cursor: pointer;
   font-size: 1rem;
   a:hover {
     opacity: 80%;
   }
 }

.header {
  background: #FFFFFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .img_container {
    background-image: url("../assets/Home-Hero-Image.jpg");
    background-position: left top;
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    width: 50%;
  }
}

.flex_container {
  display: flex;
  flex-direction: column;
  height: 150px;
  align-items: center;
  justify-content: space-between;
  p {
    font-size: 2rem;
    font-weight: 200;
    margin-bottom: 1rem;
  }
  .btn_container {
    margin-top: 1rem;
    .btn_give_away {
      font-size: 2rem;
      font-family: $font-base, sans-serif;
      font-weight: 200;
      background: #FFFFFF;
      border: $color_5 0.75px solid;
      width: 17rem;
      color: $color_5;
    }
    .btn_give_away:focus {
      outline: none;
    }
    .btn_give_away_first {
      margin-right: 1rem;
    }
    .btn_give_away_second {
      margin-left: 1rem;
    }
  }
}


.nav_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  width: 100%;
  background: #FFFFFF;
  .first_nav {
    font-size: 0.8rem;
    color: $color_4;
  }
  .log_out_button {
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 0;
    background: #FFFFFF;
    cursor: pointer;
  }
  .log_out_button:focus {
    outline: none;
  }
  .register_nav {
    border: 0.5px solid $color_3;
    padding: 7px 20px;
    borderStyle: groove;
  }
  .logged_nav {
    color: black;
  }
}
// login/register form
.form {
  margin-top: 2rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .form_field {
    display: flex;
    background: $color_1;
    margin-bottom: 1rem;
    .form_label {
      margin: 2rem 3rem;
      text-align: left;
    }
    .form_label_1 {
      margin-top: 1.2rem;
    }
    .input_label {
      padding: 0.5rem 0.75rem;
      background: $color_1;
      border: none;
      border-bottom: #707070 0.75px solid;
      margin: 2rem 3rem;
    }
    .input_label:focus {
      outline: none;

    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus {
      background: $color_1;
      font-family: $font-base, sans-serif;
      -webkit-text-fill-color: $color_5;
      -webkit-box-shadow: 0 0 0px 1000px $color_1 inset;
      transition: background-color 5000s ease-in-out 0s;
    }

  }
  .btn2_container {
    background: white;
    width: 50%;
    display: flex;
    justify-content: space-around;

    .btn_log {
      border: none;
      outline:none;
      background: white;
      padding: 1rem 0;
      cursor: pointer;
      font-family: inherit;
      font-size: 1.1rem;
    }
    .register_nav {
      border: 0.5px solid $color_5;
      padding: 7px 20px;
      borderStyle: groove;
    }
  }
  .btn_forget {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    margin-top: 2rem;
  }
  .legend_label {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 200;
    margin-bottom: 2rem;
    background: white;
  }
  .icon {
    background: white;
    padding-bottom: 3rem;
  }
}

// 3 columns
.info-section {
  background: #faca10;
  .info-item {
    display: flex;
    justify-content: space-around;
    .info-box {
      text-align: center;
      width: 20rem;
      font-size: 5.5rem;
      color: $color_2;
      font-weight: 200;
      h2 {
        margin-bottom: 1.5rem;
        font-size: 1.2rem;
        // font-weight: normal;
      }
      p {
        font-size: 1rem;
        margin-bottom: 3rem;
        color: $color_2;
      }
      .icon {
        padding: 2.5rem;
      }
    }
  }
}

// 4 steps
.info-section-2 {
  background: white;

  h1 {
    margin: 2rem 0;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 300;
  }
  .image {
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .btn_give_away_third {
    display: block;
    margin: 0 auto;
    font-size: 2rem;
    font-family: $font-base, sans-serif;
    font-weight: 200;
    background: #FFFFFF;
    border: $color_5 0.75px solid;
    width: 17rem;
    color: $color_5;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .btn_give_away_third:focus {
    outline: none;
  }

  .info-item {
    display: flex;
    justify-content: space-around;

    .info-box {
      text-align: center;
      width: 20rem;
      font-size: 5.5rem;
      color: $color_2;
      font-weight: 200;

      h2 {
        margin-bottom: 1.5rem;
        font-size: 1.2rem;
      }

      p {
        font-size: 1rem;
        margin-bottom: 3rem;
        color: $color_2;
      }

      .icon {
        padding: 2.5rem;

      }
    }
    .info-box-2 {
      width: 10rem;
      .ruler {
        width: 60%;
        margin: 1rem 1.8rem;
      }
    }
  }
  .info-item-2 {
    justify-content: center;
    background: $color_1;
  }
}

// about us
.info-section-3 {
  background: $color_1;
  .info-item {
    display: flex;
    justify-content: space-around;
    .info-box {
      text-align: center;
      width: 20rem;
      font-size: 2.4rem;
      color: $color_5;
      font-weight: 200;

      h2 {
        margin-bottom: 1.5rem;
        font-size: 1.2rem;
      }

      p {
        font-size: 1.9rem;
        margin-bottom: 3rem;
        color: $color_5;
      }
      .icon {
        padding: 2.5rem;
      }
      .row {
        display: flex;
      }
      .column {
        width: 50%;
      }
    }
    .pic_box {
      background-image: url(../assets/People.jpg);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      height: auto;
      width: 50%;
    }
  }
}




// wylogowano
.info-section-4 {
  background: white;
  padding-top: 5rem;
  h1 {
    margin-top: 2rem;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 300;
    color: #000000;
  }
  img {
    margin-bottom: 1.5rem;
  }
  .btn_give_away_fourth {
    display: block;
    margin: 0 auto;
    font-size: 1rem;
    font-family: $font-base, sans-serif;
    font-weight: 200;
    background: #FFFFFF;
    border: $color_5 0.75px solid;
    width: 10rem;
    color: #000000;
    margin-top: 2rem;
    margin-bottom: 2rem;

  }
  .btn_give_away_fourth:focus {
    outline: none;
  }
  .info-item {
    display: flex;
    justify-content: space-around;
    .info-box {
      text-align: center;
      width: 30rem;
      color: $color_2;
      font-weight: 200;
      .icon {
        padding: 1.5rem;
      }
    }
  }
}



// contact_us
  .info-section-5 {
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(../assets/Background-Contact-Form.jpg);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    .row {
      opacity: 1;
      display: flex;
      .column {
        width: 50%;
      }
    }
    .info-item {
      display: flex;
      justify-content: center;
      padding-top: 8rem;
      .info-box {
        text-align: center;
        width: 20rem;
        color: $color_5;
        font-weight: 200;

        h1 {
          margin: 2rem 0;
          font-size: 2.4rem;
        }
        .icon {
          margin-bottom: 1.5rem;
        }
      }
    }
  }



// contact form
.visible_form {
  position: absolute;
  padding-top: 1rem;
  padding-bottom: 3rem;
  .form_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .name_email_container {
      display: flex;
      flex-direction: row;
      .name_container {
        display: flex;
        flex-direction: column;
      }
    }
    .form_label {
      font-weight: 600;
      line-height: 2.5;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus {
      background: white;
      font-family: $font-base, sans-serif;
      -webkit-text-fill-color: $color_5;
      -webkit-box-shadow: 0 0 0px 1000px white inset;
      transition: background-color 5000s ease-in-out 0s;
    }
    .contact_input {
      background: inherit;
      border: 0;
      border-style: none;
      border-bottom: 1px solid $color_5;

    }
    ::-webkit-input-placeholder {
      text-align: center;
    }
    .contact_input_2 {
      background: inherit;
      border: 0;
      border-style: none;
      border-bottom: 1px solid red;
    }
    .contact_input:focus {
      outline: none;
      background: white;
      background-clip: content-box;
    }
    .contact_input_2:focus {
      outline: none;
      background: white;
    }
    .form_btn_container {
      margin-top: 2rem;
      display: flex;
      justify-content: flex-end;
      width: 100%;
     .form_btn {
       border: none;
       outline:none;
       font-family: $font-base, sans-serif;
       color: $color_5;
       height: 30px;
       font-size: 1rem;
       font-weight: 200;
       border: $color_5 0.75px solid;
       width: 5rem;
       cursor: pointer;
      }
    }
  }
}
// footer
footer {
  background-color: #FFFFFFC9;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.footerElements{
  font-size: 1.2rem;
  display: flex;
  justify-content: space-around;
}
.socialMedia {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    margin: 0 1rem;
    color: black;
  }
}
.ender_container {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
  .ender{
    font-size: 0.9em;
    padding: 10px 0;
    color:$color_5;
    span{
      color:$color_5;
    }
  }
}

// komu pomagamy
.info-section-6 {
  background: white;
  color: $color_5;

  h1 {
    margin: 2rem 0;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 300;
  }
  p {
    padding: 0 15rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: lighter;
  }
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    .pagination_btn {
      border: 0;
      padding: 2rem 2rem;
      font-family: inherit;
      font-size: 1.2rem;
      color: inherit;
      background: inherit;
    }
    .pagination_btn:focus {
      border: none;
      outline:none;
      border: #707070 0.75px solid;
    }
  }
  .image {
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .info-item {
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    color: $color_2;
    font-weight: 200;
    padding: 0 10rem;
    .btn_give_away_third {
      font-size: 1.5rem;
      font-family: $font-base, sans-serif;
      font-weight: 200;
      background: #FFFFFF;
      border-style: none;
      cursor: pointer;
      width: auto;
      color: $color_5;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    .btn_give_away_third:focus {
      border: none;
      outline:none;
      border: #707070 0.75px solid;
    }
  }
}

// database organisation styling
.help_organisation_container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 80%;
  display: block;
  margin: 0 auto;
  .help_organisation {
    font-family: 'Merriweather', serif;
    font-weight: lighter;
    border-bottom: $color_5 0.75px solid;
    line-height: 1.8rem;
    h2 {
      font-weight: lighter;
      text-align: center;
      font-size: 1.5rem;
      letter-spacing: 4px;
    }
    :nth-child(2) {
      font-size: 1.1rem;
      text-align: left;
      margin-left: 1rem;
      font-style: italic;
    }
    .align_right {
      display: block;
      text-align: right;
      margin-right: 1rem;
      font-weight: 200;
    }
  }
  :last-child {
    border: none;
  }
}


// oddaj rzeczy format

  .rel_cont {
    position: relative;
    width: 100%;
    .form_start_pic_container {
      background: url(../assets/Form-Hero-Image.jpg);
      background-position: left;
      background-size: contain;
      background-repeat: no-repeat;
      height: 600px;
      width: 40%;
      // width: 600px;
      position: absolute;

      top: -210px;
    }
  }
  .form_pic_container {
    background: url(../assets/Background-Form.jpg);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    height: 600px;
    // position: static;
    margin-top: 305px;
    .step {
      background: $color_3;
      height: 50px;
    }
  }
